{
    "comments": false,
    
    "sourceType": "unambiguous",

    "plugins": [
        ["@babel/transform-react-jsx", {
            "pragma": "h"
        }]
    ],

    "presets": [
        [ "@babel/preset-react", 
            { "runtime": "automatic"}
        ],
        [ "@babel/preset-env",
            { "targets": { "esmodules": true } }
        ]
    ]
}
